<!DOCTYPE html>
<html>
	<head>
		<title>example_3</title>
		<link rel="stylesheet" type="text/css" href="css/example3.css"/>
	</head>
	<body>
		<div class ="wrapper">
			<header>
			<nav>
				
			</nav>
			 <div class="search">
			 	
			 </div>

			</header>

		<div class="news">

		</div> <!-- end news -->
		<section class="reports">

		</section>

		<section class="sports">
			
		</section>

		<footer class ="object1">
			
		</footer>

		<footer class ="object2">
			
		</footer>



		</div> <!-- end wrapper -->
	</body>

</html>