body{
	background: #fff;
	margin: 0;
}

.wrapper{
	margin: 0 auto;
	background: #fff;
	width: 1250px;
}

.main{
	margin: 0 auto;
	background: #f00;
	border-radius: 45px;
	height: 767px;
	position: relative;
	overflow: hidden;
	width: 1024px;
}

.main ul{
	position: absolute;
	left: 0;
	height: 767px;
	width: 4096px;
	transition: left 0.3s ease-out;
}

.main li{
	float: left;
}

.previousBtn{
	position: absolute;
	left: 3px;
	top: 400px;
	cursor: pointer;
}

.nextBtn{
	position: absolute;
	right: 3px;
	top: 400px;
	cursor: pointer;
}